.container {
  width:80%;
  height: 80%;
  margin: 0 auto;
  padding: 30px; 
  
}
.item.title {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.item.title img {
  width: 800px; 
}

.award-logos-container {
  display: flex;
  align-items: center; 
}

.award-logo1 {
  margin-right: 20px; 
}

.content {
  display: flex;
  flex-direction: column; 
}





.award-logos-container {
  display: flex;
  align-items: center; 
}

.award-logo1 {
  margin-right: 20px;
}

.award-logos-container .content p {
  font-size: 48px; 
  margin-top: 10px;
}
.award-logos-container .content h1 {
  font-size: 38px; 
  margin-top: 10px;
}

.text {
  margin-bottom: 20px; 
}


.item.details img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.item.details p {
  font-size: 36px;
  align-items: center;
  line-height: 1.6;
  margin-bottom: 10px;
}
.logo3 {
  text-align: center;
}

.logo3 img {
  display: block; 
  margin: 0 auto; 
}

.logo3 p {
  text-align: center; 
};
.logo3 hr {
  width: 80%; 
  border: none; 
  border-top: 3px solid red; 
  margin: 20px auto; 
}

.item.social {
  text-align: center; 
}

.item.social h1 {
  font-size: 48px;
}

.item.social p {
  font-size: 40px;
}

.item.footer {
  background-color: red; 
  padding: 20px; 
  border-radius: 10px; 
}

.item.footer ul {
  list-style-type: none; 
  padding: 0; 
  display: flex;
  justify-content: space-between; 
  padding: 0 10px;
}

.item.footer ul li {
  flex: 1; 
  text-align: center; 
  color: white; 
  font-size: 40px; 
}

.item.footer ul li i {
  margin-right: 5px; 
  font-size: 38px; 
  border-radius: 50%; 
  background-color:black;
  padding: 5px; 
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px; 
  }

  .item.title img {
    max-width: 100%; 
    height: auto;
  }

  .award-logos-container {
    flex-direction: column; 
    align-items: center; 
  }

  .award-logo1,
  .award-logo2 {
    margin: 10px 0; 
  }

  .award-logos-container .content p {
    font-size: 12px; 
    margin-top: 5px;
  }

  .award-logos-container .content h1 {
    font-size: 24px; 
    margin-top: 10px;
  }

  .item.details p {
    font-size: 20px; 
    margin-bottom: 10px;
  }

  .logo3 hr {
    width: 100%;
    margin: 10px 0; 
  }

  .item.social h1 {
    font-size: 28px;
  }

  .item.social p {
    font-size: 24px; 
  }

  .item.footer ul {
    flex-wrap: wrap;
    justify-content: center; 
  }

  .item.footer ul li {
    flex: 0 0 100%; 
    margin-bottom: 10px; 
  }
}



